* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

header {
  height: 100vh;

  background-image: linear-gradient(
      to top,
      rgba(161, 140, 209, 0.5) 0%,
      rgba(251, 194, 235, 0.5) 100%
    ),
    url(../img/galery/unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}
.hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  background: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(138, 130, 130, 0.5);
  /* permite sobre poner el icono */
}
.menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* en este punto ya podemos quitar el menu lateral   */

  transition: transform 0.3s ease-in-out;
  transform: translate(1100%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread {
  transform: translate(0);
}

.menu-navegacion a {
  color: white;
  text-decoration: none;
}

.titulo {
  font-size: 100px;
}

.copy {
  font-size: 300;
  font-size: 25px;
}

/* Nuestro servicio */

.subtitulo {
  text-align: center;
  font-weight: 300;
  color: #764ba2;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio img {
  width: 40%;
}

.checklist-servicio {
  width: 45%;
}

.service {
  margin-bottom: 20px;
}

.n-service {
  margin-bottom: 7px;
  color: #667eea;
}

.number {
  display: inline-block;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 30px;
  height: 30px;
  color: aliceblue;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}

.gallery {
  background: aliceblue;
}

.contenedor-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-galeria {
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.agregar-imagen {
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

.show {
  transform: translate(0);
}

.showImage {
  transform: scale(1);
}

.experts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cont-experts {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.cont-experts img {
  width: 80%;
  display: block;
  margin: 20px;
}
.n-expert {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  font-weight: 400;
}

footer {
  background: rgb(156, 207, 228);
  padding-bottom: 1px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: aliceblue;
}
.brand {
  font-weight: 500;
  font-size: 40px;
}
.brand + p {
  font-weight: 500;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.social-media-icon:hover {
  background: #667eea;
  color: aquamarine;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: white;
  margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
  .menu-navegacion {
    width: 50vw;
  }

  .titulo {
    font-size: 40px;
  }

  .contenedor-servicio img {
    width: 80%;
    margin-bottom: 40px;
  }

  .checklist-servicio {
    width: 80%;
  }
  .service {
    margin-bottom: 30px;
  }

  .agregar-imagen {
    width: 80%;
  }
  .img-galeria {
    width: 45%;
  }
  .cont-experts {
    width: 80%;
  }

  .footer-content {
    justify-content: center;
  }
  .social-media {
    width: 80%;
    justify-content: space-evenly;
  }

  .social-media i {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
}
