<!DOCTYPE html>

<head>
  <title>HomePage</title>
</head>

<body>
  <div>

    <a class="nav-link" href="/homepage">Home</a>

    <a class="nav-link" href="/create_form">Create</a>

    <a class="nav-link" href="/find_all">find_all</a>

    <br />
    <br />
    <br />
    <div>
      <strong>{{message}}</strong>
    </div>
    <h1>I have 2 options here used for CRUD operations.</h1>
    <br><br>
    <a href="/create_form"><button class="btn btn-primary">Create</button></a>
    <br><br>
    <a href="/find_all"><button class="btn btn-primary">find_all</button></a>
  </div>
</body>

</html>