<!DOCTYPE html>

<head>
  <title>HomePage</title>
</head>

<body>
  <div>

    <a class="nav-link" href="http://localhost:5000/">Home</a>

    <a class="nav-link" href="http://localhost:5000/create_form">Create</a>

    <a class="nav-link" href="http://localhost:5000/retrieve">Retrieve</a>

    <br />
    <br />
    <br />
    <div>
      <strong>{{message}}</strong>
    </div>
    <h1>I have 2 options here used for CRUD operations.</h1>
    <br><br>
    <a href="/create_form"><button class="btn btn-primary">Create</button></a>
    <br><br>
    <a href="/retrieve"><button class="btn btn-primary">Retrieve</button></a>
  </div>
</body>

</html>