<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="static/css/estilos.css" class="">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "9b0e845d-6281-4c72-8cd9-2ef76370f18e", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "122285db-8e63-4be0-ab1c-56eaf5b79976", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
            document.head.appendChild(t);
        });
    </script>
    <title>Hello, {{ error }}!</title>
</head>

<body>
    <header class="header" id="inicio">
        <img src="static/img/hamburger.svg" alt="" class="hamburger" />
        <nav class="menu-navegacion">
            <a href="/login">Login</a>
            <a href="#inicio">Inicio</a>
            <a href="#servicio">Servicio</a>
            <a href="#portafolio">Portafolio</a>
            <a href="#expertos">Expertos</a>
            <a href="#contacto">Contacto</a>
            <a href="/logout">Logout</a>

        </nav>
        <div class="contenedor head">
            <h1 class="titulo">Desarrollo Web</h1>
            <p class="copy">Esta es una prueba para la clase de desarrollo web del Tec de Monterrey</p>
        </div>
    </header>

    <main>
        <section class="contenedor" id="servicio">
            <h2 class="subtitulo">Nuestro servicio</h2>
            <div class="contenedor-servicio">
                <img src="static/img/checklist.svg" alt="" />
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"> <span class="number">1</span>Diseño Web</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime rem obcaecati consequuntur
                            iusto repudiandae? Cumque, necessitatibus, facere animi, fugit dolorem ipsa aliquid odit
                            aliquam repellendus labore laborum aut officia officiis.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"> <span class="number">2</span>Diseño Web</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime rem obcaecati consequuntur
                            iusto repudiandae? Cumque, necessitatibus, facere animi, fugit dolorem ipsa aliquid odit
                            aliquam repellendus labore laborum aut officia officiis.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"> <span class="number">3</span>Diseño Web</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime rem obcaecati consequuntur
                            iusto repudiandae? Cumque, necessitatibus, facere animi, fugit dolorem ipsa aliquid odit
                            aliquam repellendus labore laborum aut officia officiis.</p>
                    </div>
                </div>
            </div>
        </section>



        <section class="gallery" id="portafolio">
            <div class="contenedor">
                <h2 class="subtitulo">Galeria</h2>
                <div class="contenedor-galeria">
                    <img src="static/img/galery/uno.jpg" alt="" class="img-galeria">
                    <img src="static/img/galery/dos.jpg" alt="" class="img-galeria">
                    <img src="static/img/galery/tres.jpg" alt="" class="img-galeria">
                    <img src="static/img/galery/cuatro.jpg" alt="" class="img-galeria">
                    <img src="static/img/galery/cinco.jpg" alt="" class="img-galeria">
                    <img src="static/img/galery/seis.jpg" alt="" class="img-galeria">
                </div>
            </div>
        </section>

        <section class="imagen-light">
            <img src="static/img/close.min.svg" alt="" class="close">
            <img src="static/img/galery/seguridad.svg" alt="" class="agregar-imagen">
        </section>

        <section class="contenedor" id="expertos">
            <h2 class="subtitulo">Expertos en:</h2>
            <section class="experts">
                <div class="cont-experts">
                    <img src="static/img/galery/data.svg" alt="">
                    <h3 class="n-expert">Datos</h3>
                </div>
                <div class="cont-experts">
                    <img src="static/img/galery/seo.svg" alt="">
                    <h3 class="n-expert">SEO</h3>
                </div>
                <div class="cont-experts">
                    <img src="static/img/galery/seguridad.svg" alt="">
                    <h3 class="n-expert">Seguridad</h3>
                </div>
            </section>
        </section>

    </main>

    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">{{error}}</h2>
                <p>Somos expertos</p>
            </div>
            <div class="social-media">
                <a href="https://www.yobiss.com" class="social-media-icon">
                    <i class='bx bx-face bx-lg'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram-alt bx-lg'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram-alt bx-lg'></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>

    <script src="static/js/menu.js"></script>
    <script src="static/js/lightbox.js"></script>

</body>

</html>